<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {% include head-custom.html %}
</head>
<body>
  <div id="header">
  <nav>
    <ul>
      <li class="downloads"><a href="mailto:adichourasiya@gmail.com">Email</a></li>
      <li class="downloads"><a href="https://wa.me/12369992000">WhatsApp</a></li>
      <li class="downloads"><a href="tel:+12369992000">Call</a></li>
    </ul>
  </nav>
</div>
  <div class="wrapper">
    <section>
      <div id="title">
        <h1>Aditya Chourasiya</h1>
        <p>"Where quality meets safety, innovation thrives."</p>
        <div class="photo-frame"></div>
      </div>
      <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="duckducksec" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://ca.linkedin.com/in/duckducksec?trk=profile-badge">Adi C.</a></div>
      {{ content }}
    </section>
  </div>
</body>
</html>
